<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <form method="post" action="/emp/insert">
            <!-- empno : <input type="text" name="empno"><br> -->
            ename : <input type="text" name="ename"><br>
            job : <input type="text" name="job"><br>
            mgr : <input type="text" name="mgr"><br>
            <!-- hiredate : <input type="text" name="hiredate"><br> -->
            hiredate : <input type="date" name="hiredate"><br>
            sal : <input type="text" name="sal"><br>
            comm : <input type="text" name="comm"><br>
            deptno : <input type="text" name="deptno"><br>
            <input type="submit" value="추가" name="insert">
            <a href="/emp/select">
                <input type="button" value="취소">
            </a>
        </form>
    </body>
</html>