<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- <script>
            let count = {{ count }}
            if( count != 0 ) {
                alert('추가에 성공했습니다.')
            }
        </script> -->
    </head>
    <body>
        <h1>전체 목록 조회</h1>
        <table border=1>
            <thead>
                <tr>
                    <th>EMPNO</th>
                    <th>ENAME</th>
                    <th>JOB</th>
                    <th>MGR</th>
                    <th>HIREDATE</th>
                    <th>SAL</th>
                    <th>COMM</th>
                    <th>DEPTNO</th>
                </tr>
            </thead>
            <tbody>
                {% if emp_list %}
                    {% for li in emp_list %}
                    <tr>
                        <td>
                            <!-- <a href="http://127.0.0.1:8000/emp/detail?empno={{ li.empno }}&ename={{ li.ename }}&job={{ li.job }}&mgr={{ li.mgr }}&hiredate={{ li.hiredate }}&sal={{ li.sal }}&comm={{ li.comm }}&deptno={{ li.deptno }}"> -->
                            <a href="/emp/detail?empno={{ li.empno }}">
                                {{ li.empno }}
                            </a>
                        </td>
                        <td>{{ li.ename }}</td>
                        <td>{{ li.job }}</td>
                        <td>
                        {% if li.mgr == None %}
                            -
                        {% else %}
                        {{ li.mgr }}
                        {% endif %}
                        </td>
                        <td>{{ li.hiredate }}</td>
                        <td>{{ li.sal }}</td>
                        <td>
                        {% if li.comm == None %}
                            -
                        {% else %}
                        {{ li.comm }}
                        {% endif %}
                        </td>
                        <td>{{ li.deptno }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="8">조회 할 데이터가 없습니다.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <a href="/emp/insert">
            <input type="button" value="추가" name="emp_add">
        </a>
    </body>
</html>